* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-header {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
  background-color: #ff00ff;
  
}

.flex-header-box {
  height: 70px;
  flex-basis: 140px;
  margin: 0 10px;
  background-color: #f0f8ff;
}

.flex-header-box:first-child {
  margin-right: auto;
}

.flex-main {
  display: flex;
  justify-content: center;
}

.flex-main1 {
  width: 300px;
  background-color: #98fb98;
}

.flex-main2 {
  background-color: #008000;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 20px;
}

.flex-main2-box {
  background-color: #f0f8ff;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

.flex-footer {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1e90ff;
}

.flex-footer-box {
  width: 45%;
  max-width: 600px;
  background-color: #f0f8ff;
  height: 40px;
  margin: 10px;
}

